# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Build outputs
client/dist/
client/build/

# Executables
server/stripe.exe

# OS files
Thumbs.db
